<h1>Contacts</h1>
<p>______________________</p>
@for (var i=0; i < @Model.Count; i++)
{
  <h3>@Model[i].GetName()</h3>
  <p>@Model[i].GetPhone()</p>
  <p>@Model[i].GetAddress()</p>
  <p>______________________</p>
}


<form action="/contact_deleted" method="post">
  <button type="submit">Delete All Contacts</button>
</form>

<a href='/contact_new'>Add a new contact</a>
