<h1>New Contact Added</h1>

<h3>@Model.GetName()</h3>
<p>@Model.GetPhone()</p>
<p>@Model.GetAddress()</p>



<a href="/contact_new">Add another contact</a>
<a href="/contact_all">View all contacts</a>
